.background-image{
    --background: url(../../../assets/loginback.jpg) 0 0/100% 100% no-repeat;
    
}

.imagen{
    size: 300px;
}

ion-item{
    --background: #3880ff;
    --color: #fff;
}
ion-button{
    --background: #062f77;
}



small {
    color: red;
}

.invalid {
    color: red;
}